<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
    <form action="/images" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Image Caption</label>
            <input type="text" id="name" placeholder="Name" name="caption" required>
        </div>
        <div>
            <label for="desc">Image Description</label>
            <input type="text" id="desc" placeholder="Description" name="description" required>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                   name="image" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr/>

<!-- MULTIPLE FILES -->

<form action="/images/many"  enctype="multipart/form-data" method="POST">
    Select images: <input type="file" name="image" multiple />
    <input type="submit" value="Upload your files"/>
</form>

<hr>

<h1>Uplaoded Images</h1>
<div>
    <% images.forEach(function(image) { %>
    <div>
        <div>
            <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>" width="300" height="250">
            <div>
                <p><%= image.caption %></p>
                <p><%= image.description %></p>
                <button onclick="deleteImage('<%= image._id %>')">Delete</button>
                <hr/><hr/><hr/>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<script>

    function deleteImage(id){
        console.log("want to delete ??");
        console.log("Id: "+id);

        fetch("/images/"+id, {
            method: 'DELETE',
            // body: JSON.stringify({user: document.getElementById.("username").value, password: $("#password").val()}),
            headers: {
                'Content-type': 'application/json; charset=UTF-8' // Indicates the content
            }
        }).then(res => {
            return res.json();
        }).then(res => {
            console.log(res);// {success: true/false, data: {}, message: ""}

            if(res.success){
                window.location.href = '/images/';
            } else {
                alert(res.message);
            }
        }).catch(err => {
            alert(err);console.log(err);
        });
    }

</script>


</body>
</html>